#!/bin/bash
#SBATCH --partition=coms
#SBATCH --time=1000:00:00
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=8
#SBATCH --cpus-per-task=1
#SBATCH --mem=46gb
#SBATCH --output=/dev/null
#SBATCH --error=/dev/null

export OMP_NUM_THREADS=1

ppserver.py -a -n -1 -w 8 -t 10000000 -k 10000000
